.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  margin: 0.5rem;
}